<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ListaVIP</title>

    <!-- Bootstrap, CSS and JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Lista de Convidados na ListaVIP</strong>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="table-responsive" id="listaDeConvidados">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome Convidado</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Telefone</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="convidado : ${convidados}">
                                <td> <span th:text="${convidado.nome}"></span> </td>
                                <td> <span th:text="${convidado.email}"></span> </td>
                                <td> <span th:text="${convidado.telefone}"></span> </td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a th:href="@{/editar/{id}(id=${convidado.id})}" class="btn btn-sm btn-primary">Editar</a>
                                        <a th:href="@{/excluir/{id}(id=${convidado.id})}" class="btn btn-sm btn-danger">Excluir</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr/>

            <div style ="text-align: left; margin-left: 100px;">
                <a href="cadastro" class="btn btn-sm btn-success align-items-start">Cadastro</a>
                <a href="/" class="btn btn-sm btn-primary align-items-start">Voltar</a>
            </div>
        </div>
    </div>

</body>
</html>